# Ignore environment config and secrets
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# macOS system files
.DS_Store

../uploaded_audios/

# Ignore Firebase key and uploaded files
backend/serviceAccountKey.json
uploaded_audios/
